h2 {
    color: #30688A;
    margin: 30px 0 0 30px;
}
.spn1 {
    position: relative;
    right: -30px;
}
.spn2 {
    position: relative;
    right: -500px;
}
.spn3 {
    position: relative;
    right: -800px;
}
.spn4 {
    position: relative;
    right: -950px;
}
.spn5 {
    position: relative;
    right: -30px;
    top: -80px;
}
.spi {
    position: relative;
    right: -100px;
}
.spn6 {
    position: relative;
    right: -345px;
    top: -80px;
}
.spn7 {
    color: #F2A741;
    position: relative;
    right: -625px;
    top: -80px;
}
.spn8 {
    position: relative;
    right: -750px;
    top: -80px;
}
.dv1 {
    width: 1300px;
    padding: 10px;
    border: 1px solid #30688A;
    margin: 1px
}
.dv2 {
    width: 1300px;
    padding: 10px;
    border: 1px solid #30688A;
    margin: 1px;
}
.dv3 {
    width: 1300px;
    padding: 10px;
    border: 1px solid #30688A;
    margin: 1px;
}