h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #30688A;
    margin: 50px 0 50px 0;
}
.ig1 {
    position: relative;
    left: -50px;
}
.ig3 {
    position: relative;
    right: -50px;
}
.ig4 {
    position: relative;
    left: -50px; bottom: -30px;
}
.ig5 {
    position: relative;
    bottom: -30px;
}
.ig6 {
    position: relative;
    right: -50px; bottom: -30px;
}
.nameP {
    color:#30688A;
    margin: 15px 0 5px 0;
}
.post {
    color:darkgrey;
    margin: 0 0 15px 0;
}